*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  counter-reset: killer;
  background-image: url("./img/63832.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
  position: relative;
  cursor: url("img/curs34.png"), crosshair;
  overflow: hidden;
  cursor: url("./img/прицел.jpg"), crosshair;
  overflow: hidden;
}

.zombie input[type="checkbox"]:checked {
  counter-increment: killer;
}

input[type="checkbox"]:checked + label {
  display: none;
}

.summa::after {
  content: counter(killer);
}

.summa {
  position: absolute;
  left: 50%;
  bottom: 25px;
  font-size: 80px;
  font-weight: 700;
  color: red;
  text-shadow: 10px 20px 10px #000;
  transform: translateX(-50%);
}
.zombie {
  width: 100px;
  height: 100px;
  position: absolute;
  overflow: hidden;
}

.zombie1 {
  left: -200px;
  top: 30%;
  transform: scale(2.4);
}

.zombie3 {
  top: 100px;
  right: 110%;
}
.zombie2 {
  left: 200px;
  bottom: -100px;
}

.zombie4,
.zombie5,
.zombie6 {
  right: 50%;
  top: -50%;
}
.zombie7 {
  top: -120px;
  right: 30%;
}
.zombie8 {
  bottom: 120%;
  left: 30%;
  animation: fly3 3s 2s infinite;
}
.zombie9 {
  top: 120%;
  bottom: -300px;
  transition: 0.3s;
  transform: scale(3);
  animation: fly3 2s 1s infinite;
}

input {
  position: absolute;
  left: -50px;
}

label {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("./img/oie_29181316Tk1N0qBf.gif");
  background-repeat: no-repeat;
  cursor: url("./img/прицел.jpg"), crosshair;
}
.Zomb {
  background-image: url("./img/oie_trans.gif");
}
.Zomb_1 {
  background-image: url("./img/oie_29184155DOOKRXC\ \(2\).gif");
}

.zombie1 {
  animation: fly1 5s 0.5s infinite;
}

.zombie2 {
  animation: fly1 4s 3s infinite;
}

.zombie3 {
  animation: fly1 9s 5s infinite;
}

.zombie4 {
  animation: fly2 7s 4s infinite;
}
.zombie5 {
  animation: fly2 9s 1s infinite;
}
.zombie6 {
  animation: fly2 7s 0.3s infinite;
}
.zombie7 {
  animation: fly3 6s 3s infinite;
}

@keyframes fly1 {
  0% {
    left: 5%;
    top: 400px;
  }
  25% {
    left: 25%;
    bottom: 500px;
  }
  50% {
    left: 50%;
    top: 120px;
  }
  75% {
    left: 75%;
    top: 600px;
  }
  100% {
    left: 110%;
    top: 250px;
  }
}

@keyframes fly2 {
  0% {
    right: 5%;
    bottom: 300px;
  }
  20% {
    right: 20%;
    top: 400px;
  }
  40% {
    right: 45%;
    top: 500px;
  }
  60% {
    right: 60%;
    top: 700px;
  }
  80% {
    right: 80%;
    top: 400px;
  }
  100% {
    right: 100%;
    top: 250px;
  }
}

@keyframes fly3 {
  0% {
    top: 10%;
    right: 200px;
  }
  20% {
    top: 20%;
    right: 400px;
  }
  70% {
    right: 50%;
    bottom: 300px;
  }
  100% {
    right: 100%;
    bottom: 500px;
  }
}
